<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>Add new place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-content>
            <ion-item class="ion-margin-vertical">
              <ion-label position="floating">Name place</ion-label>
              <ion-input id="name-place" type="text"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-vertical">
              <ion-label position="floating">Name city</ion-label>
              <ion-input id="name-city" type="text"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-vertical">
              <ion-label position="floating">Image URL</ion-label>
              <ion-input id="name-city" type="text"></ion-input>
            </ion-item>
  
            <ion-button id="btn-save">
              <ion-icon name="add-circle" slot="start"></ion-icon>
              Save
            </ion-button>
            <ion-button  id="btn-clear" color="danger" fill="outline">
              <ion-icon name="trash" slot="start"></ion-icon>
              Clear
            </ion-button>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
