<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Lugares favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lugares</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>¿Cuáles son tus lugares favoritos?</strong>
    <p>Comparte tu experiencia con otros</p>
  </div>
</ion-content>
